<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
		<meta name="description" content="Sven Co-op {{> SvenVersion }} AngelScript API documentation.">
		<meta property="og:type" content="website">
		<meta property="og:title" content={{#if DisplayName}}"{{DisplayName}}"{{else}}"{{FileName}}"{{/if}}>
		<meta property="og:site_name" content="Sven Co-op AngelScript API">
		<meta property="og:description" content="Sven Co-op {{> SvenVersion }} AngelScript API documentation.">
		<meta property="og:image" content="https://raw.githubusercontent.com/sven-coop/sven-coop.github.io/main/src/sc.png">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
	{{#if FileName}}
		<title>{{FileName}}</title>
	{{else}}
		<title>Index</title>
	{{/if}}
  </head>
  <body>
	<header>
		<nav>
	    {{#if ParentFileName}}
			{{#if DisplayName}}
			<a href="/">Index</a> > <a href="/{{ParentFileName}}">{{ParentFileName}}</a> > <a href="/{{FileName}}">{{DisplayName}}</a>
			{{else}}
			<a href="/">Index</a> > <a href="/{{ParentFileName}}">{{ParentFileName}}</a> > <a href="/{{FileName}}">{{FileName}}</a>
			{{/if}}
		  {{else}}
		  {{#if FileName}}
			<a href="/">Index</a> > <a href="/{{FileName}}">{{FileName}}</a>
			{{else}}
			<a href="/">Index</a> >
			{{/if}}
	    {{/if}}
		</nav>
		<div>
			<input type="search" id="search-input" placeholder="Search">
			<ul id="search-suggestions"></ul>
		</div>
	</header>
    <main>
      {{> Main }}
    </main>
	<script type="module" src="script.mjs" async defer></script>
  </body>
</html>